<!DOCTYPE html>
<html>
  <head>
    <title>RedeemIt!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= css_tags('src/main.tsx') %>
  </head>

  <body>
    <div id="root">
    <script>
      // Inject API base URL for frontend to use
      window.redeemit = {
        API_BASE_URL: '<%= "#{request.protocol}#{request.host_with_port}/api" %>'
      };
    </script>
    <script type="module" src="<%= js_path('src/main.tsx') %>"></script>
  </body>
</html>